/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

.base-wrapper {
  border-radius: 5px;
  border: 1px solid #bbb;
  background-color: #ddd;
  margin: 0.25rem;
  padding: 0.25rem;
}

.horizontal {
  display: flex;
}

.vertical {
}

.item {
  flex: 1;
}